<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section style="padding: 20px;">
      <h1>欢迎使用来到 <%= title %></h1>
      <p style="padding: 20px 0px; color: blue;">子应用微服务应用框架</p>
      <div id="jquery-app-container">静态文件微服务字子应用</div>
    </section>
   <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="/javascripts/microServer.js"></script>
  </body>
</html>
